@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://at.alicdn.com/t/c/font_4344275_jt0ar688xla.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 15px;

    --theme-bg-color: #0e1116;
    --theme-navbar-color: #020409;
    --theme-text-color: rgba(255, 255, 255, 0.87);

    color-scheme: light dark;
    color: var(--theme-text-color);
    background-color: var(--theme-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

[data-color-mode='dark'] {
    --theme-bg-color: #0e1116;
    --theme-navbar-color: #020409;
    --theme-text-color: rgba(255, 255, 255, 0.87)
}

[data-color-mode='light'] {
    --theme-bg-color: white;
    --theme-navbar-color: white;
    --theme-text-color: rgba(0, 0, 0, 0.87)
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex: 1;
    max-width: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    flex: 1;
    height: 100%;
    min-height: 100vh;
}
